<h1>TOYOTA</h1>

 <div class="row">



  <div class="d-grid gap-2 col-2">
    
    <ul class="list-group">
      <li class="list-group-item active" aria-current="true"><button class="btn btn-primary" type="button" style="height: 40px;"  (click)="token()">Token</button></li>
      <li class="list-group-item  active" ><button class="btn btn-primary btn-sm" type="button" style="height: 40px;" (click)="parrilla()">Parrilla</button></li>
      <li class="list-group-item  active"><button class="btn btn-primary btn-sm" type="button" style="height: 40px;"   (click)="cliente('165413219')">Cliente</button></li>
      <li class="list-group-item  active"><button class="btn btn-primary btn-sm" type="button" style="height: 40px;" (click)="vehiculo('UR5855')">Vehiculo</button></li>
      <li class="list-group-item  active"><button class="btn btn-primary btn-sm" type="button" style="height: 40px;" (click)="clienteVehiculo('165413219')">cliente/vehiculo get</button></li>
      <li class="list-group-item  active"><button class="btn btn-primary btn-sm" type="button" style="height: 40px;" (click)="clienteVehiculoPost()">cliente/vehiculo post</button></li>
    </ul> 
    
  </div>



    <div class="col-10">
      <div class="card text-dark bg-light mb-3" style="width: 95%;">
        <div class="card-header">{{titulo}}</div>
        <div class="card-body">
          <h5 class="card-title">{{subtitulo}}</h5>
          <p class="card-text">{{resp|json}}</p>
        </div>
      </div>
    </div>
</div>




